body{
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

h1{
    background-color: #ADD8E6;
    color: #000;
    text-align: center;
    text-shadow: 0 2px 3px #000;
    font-family: 'Indie Flower', cursive;
}

h2{
    text-align: center;
    background-color: #ADD8E6;
    color: #000;
    text-shadow: 0 2px 3px #000;
    font-family: 'Indie Flower', cursive;
}

section{
    height: 100px;
    left: 50%;
    top: 50%;
    margin: 40px auto;
    width: 440px;
    font-size: 18px;
    font-family: 'Architects Daughter', cursive;
}

ul{
    border-right: solid #000 1px;
}

p{
    text-align: justify;
    margin: 5px;
    font-size: 20px;
    font-family: 'Architects Daughter', cursive;
    text-shadow: #000 0px 1px 2px;
}

#contato::before{
    margin: 5px;
    content: '\1F4DE';
}

#trabalho::before{
    margin: 5px;
    content: '\1F528';
}

#linguas::before{
    margin: 5px;
    content: '\1F30F';
}

#voluntario::before{
    margin: 5px;
    content: '\1F343';
}

#pessoais::before{
    margin: 5px;
    content: '\1F464';
}

#formacao::before{
    margin: 5px;
    content: '\1F4D8';
}

#perfil::before{
    content: '\269D';
    margin: 10px;
    font-size: 30px;
}

#foto_perfil{
    margin: 10px;
    width: 300px;
    max-width: 250px;
    border-radius: 100%;
    box-shadow: 2px 3px 10px #000;
    border: 2px solid #000
}

#whatsapp{
margin-left: 200px;
}

#instagram{
    margin-left: 50px;
}

#skype{
    margin-left: 50px;
}

#email{
    margin-left: 50px;
}

#social{
    font-family: 'Bebas Neue', cursive;
}